.App {
  text-align: center;
}

html, body {
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:not([type='submit']) {
  height: 22px;
  border-radius: 3px;
  display: block;
}

input:focus {
  outline: none;
}

label {
  text-align: left;
  display: block;
  font-size: 0.75rem;
  color: gray;
  margin-bottom: 3px;
}

.field {
  margin: 10px 0px;
}

.btn {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  transition: ease-in-out 0.2s;
}

.btn.primary {
  color: white;
  border-color: transparent;
  background: #5EEAD4;
  color: black;
}

.btn.primary:hover {
  background: #0D9488;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf
{
    margin:0;
    padding:0;
    background:none;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
}